@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive:wght@400&display=swap");
@import url("https://fonts.cdnfonts.com/css/futura-pt");

/* @layer base {
  :root {
    --font-cursive: "Cedarville Cursive", cursive;

    --background: 120 9% 98%;
    --foreground: 150 10% 4%;

    --base: 0 0% 0%;

    --card: 120 9% 98%;
    --card-foreground: 150 10% 4%;
    --popover: 120 9% 98%;
    --popover-foreground: 150 10% 4%;

    --primary: 143 18% 20%;
    --primary-foreground: 120 9% 98%;

    --secondary: hsl(143 27% 71%);
    --secondary-foreground: 150 10% 4%;

    --accent: hsl(19 54% 60%);
    --accent-foreground: 150 10% 4%;

    --muted: 120 10% 20%;
    --muted-foreground: 152 10% 70%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 150 10% 4%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 19 54% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 9% 2%;
    --foreground: 150 10% 96%;
    --card: 120 9% 2%;
    --card-foreground: 150 10% 96%;
    --popover: 120 9% 2%;
    --popover-foreground: 150 10% 96%;
    --primary: 143 18% 80%;
    --primary-foreground: 120 9% 2%;
    --secondary: 143 27% 29%;
    --secondary-foreground: 150 10% 96%;
    --muted: 120 10% 80%;
    --muted-foreground: 150 10% 96%;
    --accent: 19 54% 40%;
    --accent-foreground: 150 10% 96%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 156 10% 10%;
    --border: 120 9% 60%;
    --input: 120 10% 80%;
    --ring: 19 54% 60%;
  }
} */

/* ====================  */
@layer base {
  :root {
    --background: 120 9% 98%;
    --foreground: 150 10% 4%;
    --card: 120 9% 98%;
    --card-foreground: 150 10% 4%;
    --popover: 120 9% 98%;
    --popover-foreground: 150 10% 4%;
    --primary: 143 18% 20%;
    --primary-foreground: 120 9% 98%;
    --secondary: 203 11% 73%;
    --secondary20: 203 11% 73% 20%;
    --secondary-foreground: 135 13% 6%;
    --muted: 120 10% 20%;
    --muted-foreground: 152 10% 60%;
    --accent: 19 54% 60%;
    --accent-foreground: 150 10% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 150 10% 4%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 19 54% 40%;
    --radius: 0.5rem;

    --neutral: 0 0% 100%;

    --base-100: 0 0% 0%;
    --base-200: 0, 0%, 91%;
    --base-300: 0, 0%, 82%;
    --base-foreground: 0 0% 0%;

    /* add some semantic colors  */
    --info: 210 40% 98%;
    --info-foreground: 0 0% 0%;
    --success: 120, 9%, 29%;
    --success-foreground: 0, 0%, 97%;
    --warning: 42.35, 17.17%, 80.59%;
    --warning-foreground: 0 0% 0%;
  }

  .dark {
    --background: 120 9% 2%;
    --foreground: 150 10% 96%;
    --card: 120 9% 2%;
    --card-foreground: 150 10% 96%;
    --popover: 120 9% 2%;
    --popover-foreground: 150 10% 96%;
    --primary: 143 18% 80%;
    --primary-foreground: 120 9% 2%;
    --secondary: 200 11% 27%;
    --secondary-foreground: 135 13% 94%;
    --muted: 120 10% 80%;
    --muted-foreground: 150 10% 96%;
    --accent: 19 54% 40%;
    --accent-foreground: 150 10% 96%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 156 10% 10%;
    --border: 120 9% 60%;
    --input: 120 10% 80%;
    --ring: 19 54% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5 {
    @apply text-xl font-bold;
  }

  h6 {
    @apply text-lg font-bold;
  }

  p {
    @apply text-base;
  }
}

p {
  --background: hsl(120, 9%, 98%);
  --foreground: hsl(150, 10%, 4%);

  --base: hsl(0, 0%, 0%);

  --card: hsl(120, 9%, 98%);
  --card-foreground: hsl(150, 10%, 4%);
  --popover: hsl(120, 9%, 98%);
  --popover-foreground: hsl(150, 10%, 4%);

  --primary: hsl(143, 18%, 20%);
  --primary-foreground: hsl(120, 9%, 98%);

  --secondary: hsl(143, 27, 71%);
  --secondary-foreground: hsl(150, 10%, 4%);

  --accent: hsl(19, 54%, 60%);
  --accent-foreground: hsl(150, 10%, 4%);

  --muted: hsl(120, 10%, 20%);
  --muted-foreground: hsl(152, 10%, 70%);

  --destructive: hsl(0, 85%, 60%);
  --destructive-foreground: hsl(150, 10%, 4%);
  --border: hsl(120, 10%, 20%);
  --input: hsl(120, 10%, 20%);
  --ring: hsl(19, 54%, 40%);
  --radius: 0.5rem;
}
