@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.cdnfonts.com/css/futura-pt");

/* @layer base {
  :root {
    font-family: "futura pt";
    --font-family-main: "futura pt";
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 0, 0%, 100%;
    --primary-alt: 0, 0%, 94.51%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0, 0%, 0%;
    --secondary-foreground: 210 40% 98%;

    --accent: 42.35, 17.17%, 80.59%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --accent-two: 120, 9%, 29%;
    --accent-two-foreground: 0, 0%, 97%;

    --base-100: 0 0% 0%;
    --base-200: 0, 0%, 91%;
    --base-300: 0, 0%, 82%;
    --base-foreground: 0 0% 0%;

    --info: 210 40% 98%;
    --info-foreground: 0 0% 0%;
    --success: 120, 9%, 29%;
    --success-foreground: 0, 0%, 97%;
    --warning: 42.35, 17.17%, 80.59%;
    --warning-foreground: 0 0% 0%;
    --error: 0 100% 50%;
    --error-foreground: 210 40% 98%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
} */

@layer base {
  :root {
    --background: 120 9% 98%;
    --foreground: 150 10% 4%;

    --base: 0 0% 0%;

    --card: 120 9% 98%;
    --card-foreground: 150 10% 4%;
    --popover: 120 9% 98%;
    --popover-foreground: 150 10% 4%;

    --primary: 143 18% 20%;
    --primary-foreground: 120 9% 98%;

    --secondary: hsl(143 27% 71%);
    --secondary-foreground: 150 10% 4%;

    --accent: hsl(19 54% 60%);
    --accent-foreground: 150 10% 4%;

    --muted: 120 10% 20%;
    --muted-foreground: 152 10% 70%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 150 10% 4%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 19 54% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 9% 2%;
    --foreground: 150 10% 96%;
    --card: 120 9% 2%;
    --card-foreground: 150 10% 96%;
    --popover: 120 9% 2%;
    --popover-foreground: 150 10% 96%;
    --primary: 143 18% 80%;
    --primary-foreground: 120 9% 2%;
    --secondary: 143 27% 29%;
    --secondary-foreground: 150 10% 96%;
    --muted: 120 10% 80%;
    --muted-foreground: 150 10% 96%;
    --accent: 19 54% 40%;
    --accent-foreground: 150 10% 96%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 156 10% 10%;
    --border: 120 9% 60%;
    --input: 120 10% 80%;
    --ring: 19 54% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

/* ====================  */
@layer base {
  :root {
    --background: 120 9% 98%;
    --foreground: 150 10% 4%;
    --card: 120 9% 98%;
    --card-foreground: 150 10% 4%;
    --popover: 120 9% 98%;
    --popover-foreground: 150 10% 4%;
    --primary: 143 18% 20%;
    --primary-foreground: 120 9% 98%;
    --secondary: 143 27 71%;
    --secondary-foreground: 150 10% 4%;
    --muted: 120 10% 20%;
    --muted-foreground: 152 10% 60%;
    --accent: 19 54% 60%;
    --accent-foreground: 150 10% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 150 10% 4%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 19 54% 40%;
    --radius: 0.5rem;

    --neutral: 0 0% 100%;

    --base-100: 0 0% 0%;
    --base-200: 0, 0%, 91%;
    --base-300: 0, 0%, 82%;
    --base-foreground: 0 0% 0%;

    /* add some semantic colors  */
    --info: 210 40% 98%;
    --info-foreground: 0 0% 0%;
    --success: 120, 9%, 29%;
    --success-foreground: 0, 0%, 97%;
    --warning: 42.35, 17.17%, 80.59%;
    --warning-foreground: 0 0% 0%;
  }

  .dark {
    --background: 120 9% 2%;
    --foreground: 150 10% 96%;
    --card: 120 9% 2%;
    --card-foreground: 150 10% 96%;
    --popover: 120 9% 2%;
    --popover-foreground: 150 10% 96%;
    --primary: 143 18% 80%;
    --primary-foreground: 120 9% 2%;
    --secondary: 143 27% 29%;
    --secondary-foreground: 150 10% 96%;
    --muted: 120 10% 80%;
    --muted-foreground: 150 10% 96%;
    --accent: 19 54% 40%;
    --accent-foreground: 150 10% 96%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 156 10% 10%;
    --border: 120 9% 60%;
    --input: 120 10% 80%;
    --ring: 19 54% 60%;
  }
}

p {
  --background: hsl(120, 9%, 98%);
  --foreground: hsl(150, 10%, 4%);

  --base: hsl(0, 0%, 0%);

  --card: hsl(120, 9%, 98%);
  --card-foreground: hsl(150, 10%, 4%);
  --popover: hsl(120, 9%, 98%);
  --popover-foreground: hsl(150, 10%, 4%);

  --primary: hsl(143, 18%, 20%);
  --primary-foreground: hsl(120, 9%, 98%);

  --secondary: hsl(143, 27, 71%);
  --secondary-foreground: hsl(150, 10%, 4%);

  --accent: hsl(19, 54%, 60%);
  --accent-foreground: hsl(150, 10%, 4%);

  --muted: hsl(120, 10%, 20%);
  --muted-foreground: hsl(152, 10%, 70%);

  --destructive: hsl(0, 85%, 60%);
  --destructive-foreground: hsl(150, 10%, 4%);
  --border: hsl(120, 10%, 20%);
  --input: hsl(120, 10%, 20%);
  --ring: hsl(19, 54%, 40%);
  --radius: 0.5rem;
}
